<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bingo by Paypal</title>
  <link rel="stylesheet" href="assets/stylesheets/style.css">
  <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
</head>

<body>
  <div id="root" data-bootstrap="<%= bootstrapData %>"></div>
  <script src="assets/dist/bundle.js"></script>
</body>
</html>